.key{
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

.value{
    font-size: 16px;
    font-family: sans-serif;
}

.productImgContainer{
    width: 100px;
    height: 100px;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

.productImgContainer img{
    max-width: 100%;
    max-height: 100%;
    padding: 2px;
    object-fit: contain;
    margin: 2px;
}